[submodule "control/directed_perception_ptu/ptu_driver"]
	path = control/directed_perception_ptu/ptu_driver
	url = gitolite@i61p109.ira.uka.de:ptu_driver
[submodule "control/ptu_controller"]
	path = control/ptu_controller
	url = gitolite@i61p109.ira.uka.de:ptu_controller
[submodule "mild/gazebo_models"]
	path = mild/gazebo_models
	url = gitolite@i61p109.ira.uka.de:gazebo_models
[submodule "perception/glove/glove_lib"]
	path = perception/glove/glove_lib
	url = gitolite@i61p109.ira.uka.de:glove_lib
[submodule "perception/magneto/flock_of_birds"]
	path = perception/magneto/flock_of_birds
	url = gitolite@i61p109.ira.uka.de:flock_of_birds
[submodule "perception/scene_understanding/scene_understanding_rviz_plugin"]
	path = perception/scene_understanding/scene_understanding_rviz_plugin
	url = gitolite@i61p109.ira.uka.de:scene_understanding_rviz_plugin
[submodule "perception/visual/object_localization/marker_based/armarker_recognition"]
	path = perception/visual/object_localization/marker_based/armarker_recognition
	url = gitolite@i61p109.ira.uka.de:armarker_recognition
[submodule "perception/visual/object_localization/object_database"]
	path = perception/visual/object_localization/object_database
	url = gitolite@i61p109.ira.uka.de:object_database
[submodule "perception/visual/object_localization/stereo_based/recognition_for_grasping"]
	path = perception/visual/object_localization/stereo_based/recognition_for_grasping
	url = gitolite@i61p109.ira.uka.de:recognition_for_grasping
[submodule "perception/visual/resources_for_vision"]
	path = perception/visual/resources_for_vision
	url = gitolite@i61p109.ira.uka.de:resources_for_vision
[submodule "perception/visual/vision_ivt/ivt"]
	path = perception/visual/vision_ivt/ivt
	url = gitolite@i61p109.ira.uka.de:ivt
[submodule "perception/visual/vision_ivt/ivt_bridge"]
	path = perception/visual/vision_ivt/ivt_bridge
	url = gitolite@i61p109.ira.uka.de:ivt_bridge
[submodule "utility/kalman_filter"]
	path = utility/kalman_filter
	url = gitolite@i61p109.ira.uka.de:kalman_filter
[submodule "utility/xsd2cpp"]
	path = utility/xsd2cpp
	url = gitolite@i61p109.ira.uka.de:xsd2cpp
[submodule "perception/audio/human_interface"]
	path = perception/audio/human_interface
	url = gitolite@i61p109.ira.uka.de:human_interface
[submodule "perception/glove/glove_visualization"]
	path = perception/glove/glove_visualization
	url = gitolite@i61p109.ira.uka.de:glove_visualization
[submodule "mild/kinematic_chain_mild"]
	path = mild/kinematic_chain_mild
	url = gitolite@i61p109.ira.uka.de:kinematic_chain_mild
[submodule "utility/rviz_pose_manager"]
	path = utility/rviz_pose_manager
	url = gitolite@i61p109.ira.uka.de:rviz_pose_manager
[submodule "utility/kinematic_chain_optimizer"]
	path = utility/kinematic_chain_optimizer
	url = gitolite@i61p109.ira.uka.de:kinematic_chain_optimizer
[submodule "dome/visualization_server"]
	path = dome/visualization_server
	url = gitolite@i61p109.ira.uka.de:visualization_server
[submodule "perception/scene_recognition/ism"]
	path = perception/scene_recognition/ism
	url = gitolite@i61p109.ira.uka.de:ism
[submodule "perception/scene_recognition/ism_visualizations"]
	path = perception/scene_recognition/ism_visualizations
	url = gitolite@i61p109.ira.uka.de:ism_visualizations
[submodule "perception/scene_recognition/psm"]
	path = perception/scene_recognition/psm
	url = gitolite@i61p109.ira.uka.de:psm
[submodule "perception/scene_recognition/resources_for_psm"]
	path = perception/scene_recognition/resources_for_psm
	url = gitolite@i61p109.ira.uka.de:resources_for_psm
[submodule "perception/scene_recognition/scene_graph_generator"]
	path = perception/scene_recognition/scene_graph_generator
	url = gitolite@i61p109.ira.uka.de:scene_graph_generator
[submodule "perception/scene_recognition/scene_recognition_rviz_plugin"]
	path = perception/scene_recognition/scene_recognition_rviz_plugin
	url = gitolite@i61p109.ira.uka.de:scene_recognition_rviz_plugin
[submodule "active_scene_recognition/recognizer_prediction_ism"]
	path = active_scene_recognition/recognizer_prediction_ism
	url = gitolite@i61p109.ira.uka.de:recognizer_prediction_ism
[submodule "active_scene_recognition/world_model"]
	path = active_scene_recognition/world_model
	url = gitolite@i61p109.ira.uka.de:world_model
[submodule "active_scene_recognition/next_best_view"]
	path = active_scene_recognition/next_best_view
	url = gitolite@i61p109.ira.uka.de:next_best_view
[submodule "active_scene_recognition/initial_search_scenario"]
	path = active_scene_recognition/initial_search_scenario
	url = gitolite@i61p109.ira.uka.de:initial_search_scenario
[submodule "active_scene_recognition/recognizer_prediction_psm"]
	path = active_scene_recognition/recognizer_prediction_psm
	url = gitolite@i61p109.ira.uka.de:recognizer_prediction_psm
[submodule "active_scene_recognition/state_machines"]
	path = active_scene_recognition/state_machines
	url = gitolite@i61p109.ira.uka.de:state_machines
[submodule "active_scene_recognition/intermediate_object_generator"]
	path = active_scene_recognition/intermediate_object_generator
	url = gitolite@i61p109.ira.uka.de:intermediate_object_generator
[submodule "control/tracking_of_fob"]
	path = control/tracking_of_fob
	url = gitolite@i61p109.ira.uka.de:tracking_of_fob
[submodule "perception/scene_recognition/relation_graph_generator"]
	path = perception/scene_recognition/relation_graph_generator
	url = gitolite@i61p109.ira.uka.de:relation_graph_generator
[submodule "utility/calibration_tool_mild"]
	path = mild/calibration_tool_mild
	url = gitolite@i61p109.ira.uka.de:calibration_tool_mild
[submodule "utility/calibration_tool_dome"]
	path = dome/calibration_tool_dome
	url = gitolite@i61p109.ira.uka.de:calibration_tool_dome
[submodule "mild/base_computer/mild_base_launch_files"]
	path = mild/base_computer/mild_base_launch_files
	url = gitolite@i61p109.ira.uka.de:mild_base_launch_files
[submodule "mild/base_computer/mild_base_driving"]
	path = mild/base_computer/mild_base_driving
	url = gitolite@i61p109.ira.uka.de:mild_base_driving
[submodule "mild/base_computer/mild_base_laserscanner"]
	path = mild/base_computer/mild_base_laserscanner
	url = gitolite@i61p109.ira.uka.de:mild_base_laserscanner
[submodule "mild/top_computer/mild_fake_odom"]
	path = mild/top_computer/mild_fake_odom
	url = gitolite@i61p109.ira.uka.de:mild_fake_odom
[submodule "mild/top_computer/mild_navigation"]
	path = mild/top_computer/mild_navigation
	url = gitolite@i61p109.ira.uka.de:mild_navigation
[submodule "active_scene_recognition/lib_pose_prediction_ism"]
	path = active_scene_recognition/lib_pose_prediction_ism
	url = gitolite@i61p109.ira.uka.de:lib_pose_prediction_ism
[submodule "perception/scene_recognition/lib_ism"]
	path = perception/scene_recognition/lib_ism
	url = gitolite@i61p109.ira.uka.de:lib_ism
[submodule "perception/visual/object_localization/simulation_based/fake_object_recognition"]
	path = perception/visual/object_localization/simulation_based/fake_object_recognition
	url = gitolite@i61p109.ira.uka.de:fake_object_recognition
[submodule "perception/visual/object_localization/rgbd_based/descriptor_surface_based_recognition"]
	path = perception/visual/object_localization/rgbd_based/descriptor_surface_based_recognition
	url = gitolite@i61p109.ira.uka.de:descriptor_surface_based_recognition
[submodule "active_scene_recognition/resources_for_active_scene_recognition"]
	path = active_scene_recognition/resources_for_active_scene_recognition
	url = gitolite@i61p109.ira.uka.de:resources_for_active_scene_recognition
[submodule "utility/sick_lms_400"]
	path = perception/distance/sick_lms_400
	url = gitolite@i61p109.ira.uka.de:sick_lms_400
[submodule "utility/rapidxml"]
	path = utility/rapidxml
	url = gitolite@i61p109.ira.uka.de:rapidxml
[submodule "perception/visual/object_localization/marker_based/aruco_marker_recognition"]
	path = perception/visual/object_localization/marker_based/aruco_marker_recognition
	url = gitolite@i61p109.ira.uka.de:aruco_marker_recognition
[submodule "perception/visual/vision_ivt/ivt_h2t"]
	path = perception/visual/vision_ivt/ivt_h2t
	url = gitolite@i61p109.ira.uka.de:ivt_h2t
[submodule "perception/scene_recognition/psm_visualizations"]
	path = perception/scene_recognition/psm_visualizations
	url = gitolite@i61p109.ira.uka.de:psm_visualizations
[submodule "active_scene_recognition/grid_creator"]
	path = active_scene_recognition/initial_search_scenario/grid_creator
	url = gitolite@i61p109.ira.uka.de:grid_creator
[submodule "active_scene_recognition/initial_search_manager"]
	path = active_scene_recognition/initial_search_scenario/initial_search_manager
	url = gitolite@i61p109.ira.uka.de:grid_action_server
[submodule "mild/robot_model_services"]
	path = mild/robot_model_services
	url = gitolite@i61p109.ira.uka.de:robot_model_services
[submodule "asr_msgs"]
	path = asr_msgs
	url = https://github.com/asr-ros/asr_msgs.git
[submodule "utility/approx_mvbb"]
	path = utility/approx_mvbb
	url = gitolite@i61p109.ira.uka.de:approx_mvbb
[submodule "dome/asr_kinematic_chain_dome"]
	path = dome/asr_kinematic_chain_dome
	url = https://github.com/asr-ros/asr_kinematic_chain_dome.git
[submodule "perception/visual/vision_halcon/asr_halcon_bridge"]
	path = perception/visual/vision_halcon/asr_halcon_bridge
	url = https://github.com/asr-ros/asr_halcon_bridge.git
[submodule "utility/asr_ros_uri"]
	path = utility/asr_ros_uri
	url = https://github.com/asr-ros/asr_ros_uri.git
