[submodule "perception/scene_understanding/scene_understanding_rviz_plugin"]
	path = perception/scene_understanding/scene_understanding_rviz_plugin
	url = gitolite@i61p109.ira.uka.de:scene_understanding_rviz_plugin
[submodule "perception/visual/object_localization/marker_based/armarker_recognition"]
	path = perception/visual/object_localization/marker_based/armarker_recognition
	url = gitolite@i61p109.ira.uka.de:armarker_recognition
[submodule "perception/visual/object_localization/stereo_based/recognition_for_grasping"]
	path = perception/visual/object_localization/stereo_based/recognition_for_grasping
	url = gitolite@i61p109.ira.uka.de:recognition_for_grasping
[submodule "utility/kalman_filter"]
	path = utility/kalman_filter
	url = gitolite@i61p109.ira.uka.de:kalman_filter
[submodule "perception/audio/human_interface"]
	path = perception/audio/human_interface
	url = gitolite@i61p109.ira.uka.de:human_interface
[submodule "perception/scene_recognition/psm"]
	path = perception/scene_recognition/psm
	url = gitolite@i61p109.ira.uka.de:psm
[submodule "perception/scene_recognition/resources_for_psm"]
	path = perception/scene_recognition/resources_for_psm
	url = gitolite@i61p109.ira.uka.de:resources_for_psm
[submodule "perception/scene_recognition/scene_graph_generator"]
	path = perception/scene_recognition/scene_graph_generator
	url = gitolite@i61p109.ira.uka.de:scene_graph_generator
[submodule "perception/scene_recognition/scene_recognition_rviz_plugin"]
	path = perception/scene_recognition/scene_recognition_rviz_plugin
	url = gitolite@i61p109.ira.uka.de:scene_recognition_rviz_plugin
[submodule "active_scene_recognition/recognizer_prediction_ism"]
	path = active_scene_recognition/recognizer_prediction_ism
	url = gitolite@i61p109.ira.uka.de:recognizer_prediction_ism
[submodule "active_scene_recognition/initial_search_scenario"]
	path = active_scene_recognition/initial_search_scenario
	url = gitolite@i61p109.ira.uka.de:initial_search_scenario
[submodule "active_scene_recognition/recognizer_prediction_psm"]
	path = active_scene_recognition/recognizer_prediction_psm
	url = gitolite@i61p109.ira.uka.de:recognizer_prediction_psm
[submodule "utility/calibration_tool_mild"]
	path = mild/calibration_tool_mild
	url = gitolite@i61p109.ira.uka.de:calibration_tool_mild
[submodule "perception/visual/object_localization/simulation_based/fake_object_recognition"]
	path = perception/visual/object_localization/simulation_based/fake_object_recognition
	url = gitolite@i61p109.ira.uka.de:fake_object_recognition
[submodule "perception/visual/object_localization/rgbd_based/descriptor_surface_based_recognition"]
	path = perception/visual/object_localization/rgbd_based/descriptor_surface_based_recognition
	url = gitolite@i61p109.ira.uka.de:descriptor_surface_based_recognition
[submodule "perception/visual/object_localization/marker_based/aruco_marker_recognition"]
	path = perception/visual/object_localization/marker_based/aruco_marker_recognition
	url = gitolite@i61p109.ira.uka.de:aruco_marker_recognition
[submodule "perception/visual/vision_ivt/ivt_h2t"]
	path = perception/visual/vision_ivt/ivt_h2t
	url = gitolite@i61p109.ira.uka.de:ivt_h2t
[submodule "perception/scene_recognition/psm_visualizations"]
	path = perception/scene_recognition/psm_visualizations
	url = gitolite@i61p109.ira.uka.de:psm_visualizations
[submodule "asr_msgs"]
	path = asr_msgs
	url = https://github.com/asr-ros/asr_msgs.git
[submodule "utility/approx_mvbb"]
	path = utility/approx_mvbb
	url = gitolite@i61p109.ira.uka.de:approx_mvbb
[submodule "dome/asr_kinematic_chain_dome"]
	path = dome/asr_kinematic_chain_dome
	url = https://github.com/asr-ros/asr_kinematic_chain_dome.git
[submodule "perception/visual/vision_halcon/asr_halcon_bridge"]
	path = perception/visual/vision_halcon/asr_halcon_bridge
	url = https://github.com/asr-ros/asr_halcon_bridge.git
[submodule "utility/asr_ros_uri"]
	path = utility/asr_ros_uri
	url = https://github.com/asr-ros/asr_ros_uri.git
[submodule "perception/visual/asr_resources_for_vision"]
	path = perception/visual/asr_resources_for_vision
	url = https://github.com/asr-ros/asr_resources_for_vision.git
[submodule "perception/visual/vision_ivt/asr_ivt"]
	path = perception/visual/vision_ivt/asr_ivt
	url = https://github.com/asr-ros/asr_ivt.git
[submodule "control/directed_perception_ptu/asr_flir_ptu_driver"]
	path = control/directed_perception_ptu/asr_flir_ptu_driver
	url = https://github.com/asr-ros/asr_flir_ptu_driver.git
[submodule "control/asr_flir_ptu_controller"]
	path = control/asr_flir_ptu_controller
	url = https://github.com/asr-ros/asr_flir_ptu_controller.git
[submodule "perception/scene_recognition/asr_lib_ism"]
	path = perception/scene_recognition/asr_lib_ism
	url = https://github.com/asr-ros/asr_lib_ism.git
[submodule "robot/mild_base/asr_mild_base_driving"]
	path = robot/mild_base/asr_mild_base_driving
	url = https://github.com/asr-ros/asr_mild_base_driving.git
[submodule "robot/mild_base/asr_mild_base_fake_driving"]
	path = robot/mild_base/asr_mild_base_fake_driving
	url = https://github.com/asr-ros/asr_mild_base_fake_driving.git
[submodule "robot/mild_base/asr_mild_base_laserscanner"]
	path = robot/mild_base/asr_mild_base_laserscanner
	url = https://github.com/asr-ros/asr_mild_base_laserscanner.git
[submodule "robot/mild_base/asr_mild_base_launch_files"]
	path = robot/mild_base/asr_mild_base_launch_files
	url = https://github.com/asr-ros/asr_mild_base_launch_files.git
[submodule "robot/asr_gazebo_models"]
	path = robot/asr_gazebo_models
	url = https://github.com/asr-ros/asr_gazebo_models.git
[submodule "robot/asr_mild_kinematic_chain"]
	path = robot/asr_mild_kinematic_chain
	url = https://github.com/asr-ros/asr_mild_kinematic_chain.git
[submodule "perception/distance/asr_sick_lms_400"]
	path = perception/distance/asr_sick_lms_400
	url = https://github.com/asr-ros/asr_sick_lms_400.git
[submodule "active_scene_recognition/asr_intermediate_object_generator"]
	path = active_scene_recognition/asr_intermediate_object_generator
	url = https://github.com/asr-ros/asr_intermediate_object_generator.git
[submodule "utility/asr_rviz_pose_manager"]
	path = utility/asr_rviz_pose_manager
	url = https://github.com/asr-ros/asr_rviz_pose_manager.git
[submodule "utility/asr_rapidxml"]
	path = utility/asr_rapidxml
	url = https://github.com/asr-ros/asr_rapidxml.git
[submodule "utility/asr_xsd2cpp"]
	path = utility/asr_xsd2cpp
	url = https://github.com/asr-ros/asr_xsd2cpp.git
[submodule "dome/asr_calibration_tool_dome"]
	path = dome/asr_calibration_tool_dome
	url = https://github.com/asr-ros/asr_calibration_tool_dome.git
[submodule "dome/asr_visualization_server"]
	path = dome/asr_visualization_server
	url = https://github.com/asr-ros/asr_visualization_server.git
[submodule "perception/visual/vision_ivt/asr_ivt_bridge"]
	path = perception/visual/vision_ivt/asr_ivt_bridge
	url = https://github.com/asr-ros/asr_ivt_bridge.git
[submodule "perception/visual/object_localization/asr_object_database"]
	path = perception/visual/object_localization/asr_object_database
	url = https://github.com/asr-ros/asr_object_database.git
[submodule "utility/kinematic_chain_optimizer/asr_muparser"]
	path = utility/kinematic_chain_optimizer/asr_muparser
	url = https://github.com/asr-ros/asr_muparser.git
[submodule "utility/kinematic_chain_optimizer/asr_kinematic_chain_optimizer"]
	path = utility/kinematic_chain_optimizer/asr_kinematic_chain_optimizer
	url = https://github.com/asr-ros/asr_kinematic_chain_optimizer.git
[submodule "perception/glove/asr_cyberglove_visualization"]
	path = perception/glove/asr_cyberglove_visualization
	url = https://github.com/asr-ros/asr_cyberglove_visualization.git
[submodule "perception/glove/asr_cyberglove_lib"]
	path = perception/glove/asr_cyberglove_lib
	url = https://github.com/asr-ros/asr_cyberglove_lib.git
[submodule "perception/scene_recognition/asr_relation_graph_generator"]
	path = perception/scene_recognition/asr_relation_graph_generator
	url = https://github.com/asr-ros/asr_relation_graph_generator.git
[submodule "perception/scene_recognition/asr_ism_visualizations"]
	path = perception/scene_recognition/asr_ism_visualizations
	url = https://github.com/asr-ros/asr_ism_visualizations.git
[submodule "active_scene_recognition/asr_lib_pose_prediction_ism"]
	path = active_scene_recognition/asr_lib_pose_prediction_ism
	url = https://github.com/asr-ros/asr_lib_pose_prediction_ism.git
[submodule "perception/magneto/asr_flock_of_birds"]
	path = perception/magneto/asr_flock_of_birds
	url = https://github.com/asr-ros/asr_flock_of_birds.git
[submodule "control/asr_flock_of_birds_tracking"]
	path = control/asr_flock_of_birds_tracking
	url = https://github.com/asr-ros/asr_flock_of_birds_tracking.git
[submodule "robot/navigation/ftc_navigation/asr_move_base"]
	path = robot/navigation/ftc_navigation/asr_move_base
	url = https://github.com/asr-ros/asr_move_base.git
[submodule "robot/navigation/ftc_navigation/asr_navfn"]
	path = robot/navigation/ftc_navigation/asr_navfn
	url = https://github.com/asr-ros/asr_navfn.git
[submodule "robot/navigation/ftc_navigation/asr_ftc_local_planner"]
	path = robot/navigation/ftc_navigation/asr_ftc_local_planner
	url = https://github.com/asr-ros/asr_ftc_local_planner.git
[submodule "robot/navigation/ftc_navigation/asr_nav_core"]
	path = robot/navigation/ftc_navigation/asr_nav_core
	url = https://github.com/asr-ros/asr_nav_core.git
[submodule "robot/navigation/asr_mild_navigation"]
	path = robot/navigation/asr_mild_navigation
	url = https://github.com/asr-ros/asr_mild_navigation.git
[submodule "robot/asr_robot_model_services"]
	path = robot/asr_robot_model_services
	url = https://github.com/asr-ros/asr_robot_model_services.git
[submodule "active_scene_recognition/asr_grid_creator"]
	path = active_scene_recognition/asr_grid_creator
	url = https://github.com/asr-ros/asr_grid_creator.git
[submodule "active_scene_recognition/asr_state_machine"]
	path = active_scene_recognition/asr_state_machine
	url = https://github.com/asr-ros/asr_state_machine.git
[submodule "active_scene_recognition/asr_direct_search_manager"]
	path = active_scene_recognition/asr_direct_search_manager
	url = https://github.com/asr-ros/asr_direct_search_manager.git
[submodule "active_scene_recognition/asr_world_model"]
	path = active_scene_recognition/asr_world_model
	url = https://github.com/asr-ros/asr_world_model.git
[submodule "active_scene_recognition/asr_resources_for_active_scene_recognition"]
	path = active_scene_recognition/asr_resources_for_active_scene_recognition
	url = https://github.com/asr-ros/asr_resources_for_active_scene_recognition.git
[submodule "active_scene_recognition/asr_next_best_view"]
	path = active_scene_recognition/asr_next_best_view
	url = https://github.com/asr-ros/asr_next_best_view.git
[submodule "perception/scene_recognition/asr_ism"]
	path = perception/scene_recognition/asr_ism
	url = https://github.com/asr-ros/asr_ism.git
