<launch>
        <!--include file="$(find ptu_tracking)/launch/tracker_left.launch"/-->
	<!--Load config file for rosconsole so that log level for scene recognition is set to debug.-->
	<env name="ROSCONSOLE_CONFIG_FILE" value="$(find active_scene_recognition_psm)/launch/rosconsole_asr.config"/>
        <node name="active_scene_recognition_psm" pkg="active_scene_recognition_psm" type="active_scene_recognition_psm" output="screen">
                <rosparam file="$(find active_scene_recognition_psm)/launch/settings.yaml"/>
                <rosparam param="bag_filenames_list">
                - '/home/SMBAD/gehrung/home/Data/P1V2/scenegraphs/SCENEGRAPH_falsepositive.bag'
                </rosparam>
        </node>

	<!--node pkg="rviz" name="rviz" type="rviz" args="/search_visualization.vcg"/-->
</launch>
